:root {
  --primary: #f0c393;

  --bg: #010101;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #ffff;
}

/* Navbar */
.navbar {
  /* agar dapat mengatur isi/elemen dalam 3 kelas utama navbar */
  display: flex;
  /* agar jarak anatar elemen sama  , pengaturan agar sejajar secara horiz*/
  justify-content: space-between;
  /* sejajar secara vertikal */
  align-items: center;
  /* rem(relatif terhadap 16 px), 7%: space kanan kiri selalu mempertahankan 7% */
  padding: 1.4rem 7%;
  /* mengubah transparansi warna sebesar 0.8 (harus menggunkan rgba) */
  background-color: rgba(1, 1, 1, 0.8);
  /* menmabah garis bawah pada navbar */
  border-bottom: 1px solid #48341f;
  /* agar posisi tetap saat di scroll */
  position: fixed;
  /* agar posisi mentok ke atas */
  top: 0;
  /* agar posisi penuh 1 layar, tarik ke kiri dan ke kanan */
  left: 0;
  right: 0;
  /* syarat agar posisi navbar selalu di atas tidak tertindih elmen lain, kasih nilai z-index yang besar */
  z-index: 99999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #ffff;
  font-style: italic;
}
/* pada kata Store */
.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: #ffff;
  /* seacar default a(inline), sehingga tidak bisa dikasih margin, agar bisa
  atur marginnya */
  display: inline-block;
  font-size: 1.2rem;
  /* atas/bawah: 0, kanan kiri: 1*/
  margin: 0 1rem;
}
/* hover kata nav menu di tengah */
.navbar .navbar-nav a:hover {
  color: var(--primary);
}

/* animasi di nav menu saat di hover */
.navbar .navbar-nav a::after {
  /* content=kosong, agar bisa atur dimensinya */
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  /* mengecilkan garis bawah hingga tidak kelihatan */
  transform: scaleX(0);
  transition: 0.2s linear;
}
/* hover baris bawah */
.navbar .navbar-nav a:hover::after {
  /* ubah scaleX menjadi 0.5 (1=penuh, panjang), agar terlihat lagi */
  transform: scaleX(0.5);
}

/* bagian kanan dari nav */
.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

/* hamburger-menu akan menghilang di layar yang cukup besar, saat layar kecil akan muncul untuk 
memasukkan daftar nav-menu */
#hamburger-menu {
  display: none;
}

/* Navbar search form */
.navbar .search-form {
  position: absolute;
  top: 100%;
  right: 7%;
  background-color: #fff;
  width: 20rem;
  height: 4rem;
  display: flex;
  align-items: center;
  /* memperkecil tinggi = 0, agar menghilang terlebih dahulu */
  transform: scaleY(0);
  /* untuk menentukan posros/sumbu, sehingga saat dimunculkan kita bisa animasikan seakan2 muncul dari atas */
  transform-origin: top;
  transition: 0.3s;
}
/* note: saat nama kelas berjejer dalam satu tag, janagn diberi spasi */
.navbar .search-form.active {
  transform: scaleY(1);
}

.navbar .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.2rem;
  color: var(--bg);
  padding: 1rem;
}

.navbar .search-form label {
  cursor: pointer;
  font-size: 1rem;
  margin-right: 1.3rem;
  color: var(--bg);
}

/* shopping cart */
.shopping-cart  {
  /* karena bagian ini dimodif, bagian wadah dari shopping cart harus non-static seperti relative atau fixed */
  position: absolute;
  /* agar menempel di bawah navbar */
  top: 100%;
  right: -100%;
  height: 100vh;
  width: 32rem;
  padding: 0 1.5rem;
  color: var(--bg);
  background-color: #fff;
  transition: 0.5s linear;
}
/* untuk menuliskan 2 kelas dalam satu tag, jangan diberi spasi */
.shopping-cart.active {
  right: 0;
}
.shopping-cart .cart-item {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px dashed #666;
  position: relative;
}

.shopping-cart img {
  height: 6rem;
  border-radius: 50%;
}

.shopping-cart h3 {
  font-size: 1.6rem;
  padding-bottom: 0.5rem;
}

.shopping-cart .item-price {
  font-size: 1.2rem;
}

.shopping-cart .remove-item {
  position: absolute;
  right: 1rem;
  cursor: pointer;
}

.shopping-cart .remove-item:hover {
  color: var(--primary);
}



/* navbar end */
/* Hero Section */

.hero {
  min-height: 100vh;
  display: flex;
  /* posisi elemen-elemen secara vertikal */
  align-items: center;
  background-image: url('../img/cover.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  /* memposisikan gambar yang ditampilkan agar condong ke posisi yang dimau */
  background-position: center;
  position: relative;
}
/* 
Pseudo-element ::after digunakan untuk membuat isi (content) tambahan di dalam elemen tanpa harus menambahkan elemen HTML */

.hero .layer::after {
  /* agar bisa dikasih style */
  content:'';
  display: block;
  /* agar posisi menempel ke bawah, elemen pembungkus/'hero' harus memiliki posisi relative  */
  position: absolute;
  width: 100%;
  /* tinggi dikurangi agar elemen 'a' pada content dapat diklik */
  height: 30%;
  /* tinggi 30% memiliki akhiran di pertengahan section sehingga perlu dibawahkan*/
   bottom: 0;
  /* membbuat gradasi di bagian bawah gambar */
  /* rgba pertama sebagai warna gradasinya, 3%: seberapa luas gradasinya, 100=> menutup semua gambar, yang kedua perlahan2 hilang */
  background: linear-gradient(0deg, rgba(1, 1, 3, 1) 8%, rgba(255, 255, 255, 0) 50%);

}
/* layer untuk menggelapkan background */
.hero .layer {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  background-color: rgba(1, 1, 1, 0.2) ;
  background-size: cover;
  /* memposisikan gambar yang ditampilkan agar condong ke posisi yang dimau */
  background-position: center;
  position: relative;

}

.hero .layer .content {
  padding: 1.4rem 7%;
  /* membatasi panjang text/info di landing/hero */
  max-width: 60rem;
}

.hero .layer .content  h1 {
  font-size: 3.5rem;
  color: #ffffff;
  /* bagian akhir pada rgba adalah seberapa tebal */
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.8) ;
  line-height: 1.2;
}

.hero .layer .content h1 span {
  color: var(--primary);
}

.hero .layer .content p {
  font-size: 1.7rem;
  margin-top: 1rem;
  line-height: 2rem;
  font-weight: 400;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.8) ;
  /* memberi blanding option untuk mencampurkan warna saat saling overlap */
  /* mix-blend-mode: difference; */
}

.hero .layer .content .cta {
   margin-top: 1rem;
   /* agar bisa kasih margin dan padding */
   display: inline-block;
   padding: 1rem 3rem;
   font-size: 1.4rem;
   color: #fff;
   background-color: var(--primary);
   border-radius: 0.5rem;
   box-shadow: 1px 1px 3px rgba(1,1,3,0.5) ;
}
/* Hero Section End */

/* About Section Start*/
.about {
  /* 10rem: karena ada navbar, agar tidak ketutupan perbesar nilai padding */
  /* atas, kanan-kiri, bawah */
  padding: 5rem 7% 1.4rem;
}

.about h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.about h2 span{
   color: var(--primary);
}

.about .row {
  display: flex;
}
.about .row .about-img {
  flex: 1 1 45rem;
}
.about .row .about-img img {
  width: 100%;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;

}

.about .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1rem;
  font-weight: 400;
}
/* About Section End*/

/* Menu Section Start*/

/* sama denngan about */
.menu {
  /* 10rem: karena ada navbar, agar tidak ketutupan perbesar nilai padding */
  /* atas, kanan-kiri, bawah */
  padding: 5rem 7% 1.4rem;
}
/* sama denngan about */
.menu h2 {
  text-align: center;
  font-size: 2.6rem;
  /* memperkecil jara judul dan deskripsi kecil */
  margin-bottom: 1rem;
}
/* sama denngan about */
.menu h2 span{
   color: var(--primary);
}

.menu p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.6rem;
} 

.menu .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}

.menu .row .menu-card {
  text-align: center;
  padding-bottom: 4rem;
}

.menu .row .menu-card img {
  border-radius: 50%;
  width: 80%;

}

.menu .row .menu-card .menu-card-title {
  margin: 1rem auto 0.5rem;
}
/* Menu Section End*/

/* Product section start */
/* sama denngan menu section */
.products {
  /* 10rem: karena ada navbar, agar tidak ketutupan perbesar nilai padding */
  /* atas, kanan-kiri, bawah */
  padding: 5rem 7% 1.4rem;
}
/* sama denngan menu section */
.products h2 {
  text-align: center;
  font-size: 2.6rem;
  /* memperkecil jara judul dan deskripsi kecil */
  margin-bottom: 1rem;
}
/* sama denngan menu section */
.products h2 span{
   color: var(--primary);
}
/* sama denngan menu section */
.products p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.6rem;
} 

.products .row {
  display: grid;
  /* min. ukurannya / lebih kecil dari 30rem, jadikan dalam 1 kolom, jika lebih besar dari 30rem bikin semuatnya   */
  /* akan dibuatkan kotak sebanyak mungkin dalam satu baris selama ukuran perkotaknya tidak kurangdari 30rem */
  /* jika melebihi 30rem akan dipindahkan ke baris baru */
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
  margin-top: 4rem;
}

.products .product-card {
  text-align: center;
  border: 1px solid #666;
  padding: 2rem;
}

.products .product-icons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.products .product-icons a {
  width: 4rem;
  height: 4rem;
  color: #fff;
  margin: 0.3rem;
  border: 1px solid #666;
  border-radius: 50%;
  display: flex;
  /* membuat elemen ke tengah seacara horizontal */
  justify-content: center;
  /* membuat elemen ke tengah secacra vertikal */
  align-items: center;
}

.products .product-icons a:hover {
  background-color: var(--primary);
  border:1px solid var(--primary);
} 

.products .product-image {
  padding: 1rem 0;
}

.products .product-image img {
  height: 25rem;
}

.products .product-content h3 {
  font-size: 2rem;
}

.products .product-stars {
  font-size: 1.7rem;
  padding: 0.8rem;
  color: var(--primary);
}

.products .product-stars .star-full {
  fill: var(--primary);
}

.products .product-price {
  font-size: 1.3rem;
  font-weight: bold;
}
.products .product-price span {
  text-decoration: line-through;
  font-weight: lighter;
  font-size: 1rem;
}
/* Product section end */

/* Contact Section Start */
/* sama denngan menu section */
.contact {
  /* 10rem: karena ada navbar, agar tidak ketutupan perbesar nilai padding */
  /* atas, kanan-kiri, bawah */
  padding: 5rem 7% 1.4rem;
}
/* sama denngan menu section */
.contact h2 {
  text-align: center;
  font-size: 2.6rem;
  /* memperkecil jara judul dan deskripsi kecil */
  margin-bottom: 1rem;
}
/* sama denngan menu section */
.contact h2 span{
   color: var(--primary);
}
/* sama denngan menu section */
.contact p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.6rem;
} 

.contact .row {
  display: flex;
  margin-top: 2rem;
  background-color: #222; 
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.contact .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: var(--bg);
  border: 1px solid #eee;
  padding-left: 2rem;
}
 
.contact .row form .input-group input{
  width: 100%;
  padding: 1.7rem;
  font-size: 1.5rem;
  background: none;
  color: #fff;
}

.contact .row form  .btn {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.5rem;
  color: #fff;
  background-color: var(--primary);
  cursor: pointer;
  border-radius: 10px;
}

/* Footer Start */
footer {
  background-color: var(--primary);
  text-align: center;
  padding: 1rem 0 2rem;
  margin-top: 3rem;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: #fff;
  margin: 1rem;
}

footer .socials a:hover,
footer .links a:hover {
  color: var(--bg);
}

footer .links {
  margin-bottom: 1.2rem;
}

footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;

}

footer .credit {
  font-size: 0.8rem;
}

footer .credit a {
  color: var(--bg);
  font-weight: 7 00;
}

/* Footer end */
/* Contact Section End */

/* Modal box start */
/* item detail */
.modal {
  display: none;
  position: fixed;
  z-index: 99999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.6);
}

.modal-container {
  position: relative;
  background-color: #fefe;
  color: var(--bg);
  margin: 15% auto;
  padding: 1.2rem;
  border: 1px solid #666;
  width: 80%;
  height: 40%;
  animation: animateModal 0.5s;
}

/* modal animation */
@keyframes animateModal {
  from{
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.modal-container .close-icon {
  position: absolute;
  right: 1rem;
}

.modal-content {
  display: flex;
  flex-wrap: nowrap;
}

.modal-content img {
  width:30%;
  margin-bottom: 2rem;
  margin-right: 2rem;

}

.modal-content p {
  font-size: 1.2rem;
  line-height: 1.8rem ;
  margin-top: 1.2rem;
}

.modal-content a {
  display: flex;
  gap: 1rem;
  width: 12rem;
  background-color: var(--primary);
  color: #fff;
  margin-top: 1rem;
  padding: 1rem 1.6rem ;
}
/* Modal box end */

/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
  html {
    /* diperkecil ukurannya */
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 758px) {
  html {
    /* diperkecil ukurannya */
    font-size: 62.5%;
  }
  /* memunculkan hamburger menu */
  #hamburger-menu {
    display: inline-block;
  }

  /* memindahkan navbar-nav ke luar layar, agar saat hamburger-menu di klik dapat muncul
  sebagai side bar */
  .navbar .navbar-nav {
    /* agar mudah memindah elmennya tapa mengganggu elemen lain */
    position: absolute;
    /* agar menempel ke atas */
    top: 100%;
    /* agar keluar dari layar */
    right: -100%;
    background-color: #ffff;
    width: 30rem;
    /* memenuhi tinggi layar */
    height: 100vh;
    transition: 0.3s;
  }
  /* menambah kelas 'active' agar dapat memunculkan, caranya menggunkan js */
  /* spasi pengaruh pada pemberian class */
  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a{
    color: var(--bg);
    /* 'block' membuat elemen turun ke bawah*/
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 1.6rem;
  }

  .navbar .navbar-nav a::after {
    /* memindahkan garis bawah pada menu agar ke kiri, (sumbu x, sumbu y) */
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    /* mengecilkan panjang garis bawah */
    transform: scaleX(0.2);
  }

  .navbar .search-form label {
    font-size: 1rem;
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 24rem;
    /* karena kita mengatur tingginya, agar gambar terkesan tidak ketarik */
    object-fit: cover;
    /* agar fokus gambar berada di tengah */
    object-position: center;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }

  .about .row .content p {
    font-size: 1.4rem;
  }

  .menu p, .contact p {
    font-size: 1.2rem;
  }

  .menu h3, .contact h3 {
    font-size: 1.4rem;
  }

  .menu .row .menu-card img {
    width: 65%;
  }

  .contact .row {
    flex-wrap: wrap;
  }

  .contact .row .map {
    height: 30rem;
  }

  .contact .row form {
    padding-top: 0;
  }

  .modal-content {
    flex-wrap: wrap;
    padding: 20px 30px;

  }

  .modal-container {
    height: 70%;
  }

  .modal-content img {
    width: 50%;
    
  }
  
}

/* Handphone */
@media (max-width: 450px) {
  html {
    /* diperkecil ukurannya */
    font-size: 55%;
  }
}
